p {
    color: #8e21ee68;
    font-size: xx-large;
    font-weight: bold;
    font-style:oblique;
    text-decoration:overline;
    background-color: aquamarine;
    /* letter-spacing: 10px; */
    /* word-spacing: 20px; */

    font-family: Arial, Helvetica, sans-serif;
/* font family ke pass font style se zada option hai  */





}